@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white 
  /* @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */

  /* If anyone is curious, I commented out the above code because darkmode is a pain in the ass :)
  ~ Ian */
}

/* Global CSS or styles file */
.location-bubble {
  cursor: pointer;
  transition: transform 0.2s;
}

.location-bubble:hover {
  transform: scale(1.05);
}

.location-bubble p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.location-bubble.expanded p {
  max-height: 300px;
}